
.Header, .UpperContent, .Footer{
    background-color: #1F2937;
}

.UpperContent .Title {
    font-size:48px;
    font-weight: bolder;
    color:#f9faf8;
}

.UpperContent .Text, .Header .Links{
    font-size: 18px;
    color:#E5E7EB;
    

}

.Header .Logo{
    font-size:24px;
    color:#f9faf8;
    font-weight: bolder;
}

Button{
    color:#3882f6;
}

.MiddleContent .Title{
    font-weight: bolder;
    font-size:36px;
    color:#1f2937;
}

.LowerContent {
    background-color: #e5e7eb;
}

.VeryBerryInspiringQuote{
    font-size: 36px;
    color:#1f2937;
    
}

.VeryLowerContent {
    background-color:#3882f6;
}

*{
    font-family:roboto;
}

/* Flexbox below */

.Header{
    display:flex;
    justify-content: space-between;
    padding-bottom:64px;
}

.Links {
    display:flex;
    justify-content: space-around;
    gap:16px;
}

.UpperContent{
    display:flex;
}

body {
    display:flex;
    flex-direction:column;
    
}

.UpperContent .left{
    display:flex;
}

h1.Title {
    flex-wrap:wrap;
}



